<!DOCTYPE html>
<!-- Maziar.email -->
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="./static_files/devicon.min.css" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>PomoTodo</title>
    <meta name="description" content="Software Engineer" />

    <link rel="stylesheet" href="./static_files/main.css" />
  </head>

  <body data-new-gr-c-s-check-loaded="14.1034.0" data-gr-ext-installed="">
    <div id="particles-js">
      <div class="header">
        <h1>
          <span class="site-title">pomoto.do</span>
          <span class="site-description"></span>
          <span class="site-subtitle">
            <a
              class="link"
              target="_blank"
              href="https://github.com/pomotodoApp"
            >
            </a>

            <a class="link" target="_blank" href="https://pomoto.do"> </a
            >.</span
          >
          <!-- <span class="site-subtitle">
            Co-founder of
            <a class="link" target="_blank" href="https://---/"> </a>
            <a class="link" target="_blank" href="---/"></a>.</span
          > -->
          <span class="site-details"><br /> </span>
        </h1>
        </div>
        <div class="header-links">
          <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
        </div>
        <p></p>
        <div><a class="link" href="https://golang.org/"></a></div>
      </div>
      <canvas
        class="particles-js-canvas-el"
        width="3360"
        height="1714"
        style="width: 100%; height: 100%"
      ></canvas>
    </div>

    <script src="./static_files/particles.min.js"></script>
    <script src="./static_files/sweet-scroll.min.js"></script>
    <script src="./static_files/main.js"></script>
  </body>
  <grammarly-desktop-integration
    data-grammarly-shadow-root="true"
  ></grammarly-desktop-integration>
</html>
